//Bootstrap
@import "~bootstrap/scss/bootstrap";
//FontSource
@import "@fontsource/raleway/400.css";
// -----------------------------------------------------nav
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 0 10px;
      font-size: 150%;
      a {
        text-decoration: none;
        color: black;
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
          color: grey;
        }
        &.modify {
          color: grey;
        }
      }
    }
  }
}
.colors {
  display: flex;
  margin: 1% 1% 1% 5%;
  .color {
    margin: 5px;
    border: 1px solid lightgrey;
    cursor: pointer;
    a {
      display: block;
      width: 100%;
      height: 100%;
      span {
        opacity: 0;
      }
    }
  }
}
// -----------------------------------------------------text position
.description {
  .face &,
  .strap &,
  .loop & {
    position: absolute;
    top: 5%;
    right: 55%;
    width: 40%;
  }
  .hands & {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40%;
    text-align: right;
  }
}
